<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>{% block title %}UCI Class Watcher{% endblock %}</title>
    <link
      rel="icon"
      type="image/x-icon"
      href="{{ url_for('static', filename='favicon.ico') }}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='styles/style.css') }}"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <header>
      <nav class="top-nav">
        <a href="{{ url_for('index') }}" class="home-link">UCI Class Watcher</a>
        <a class="contact-button" href="{{ url_for('contact') }}">Contact</a>
      </nav>
    </header>
    <main>{% block content %} {% endblock %}</main>
    <footer>
      <a href="{{ url_for('changelog') }}" class="changelog-link">
        <h1>Changlog</h1>
      </a>
    </footer>
  </body>
</html>
