{% extends "base.html" %} {% block title %}Changelog - UCI Class Watcher{%
endblock %} {% block content %}
<div class="form-changelog">
  <div class="title">Changlog</div>

  <ul class="changelog">
    <li>
      <span class="version">v2.3</span>
      <span class="date">2025-11-23</span>
      <p>- Added support me link (it costs money to maintain the service!)</p>
      <p>- Added service status monitoring</p>
      <p>- Fixed contact form</p>
      <p>- Added connection pooling for improvements to load times</p>
      <p>- Added more rate limiting to prevent spam</p>
      <p>- Fixed bugs and improved UI</p>
    </li>
    <li>
      <span class="version">v2.2</span>
      <span class="date">2025-11-18</span>
      <p>- Added login system and dashboard</p>
      <p>
        - You can now stop watching a class and view personal stats from the
        dashboard
      </p>
      <p>- Email now has direct link to Webreg</p>
      <p>- Added rate limiter for specific routes to prevent spam</p>
      <p>- Improved website styling</p>
    </li>
    <li>
      <span class="version">v2.1</span>
      <span class="date">2025-11-15</span>
      <p>- Added support for all departments</p>
      <p>
        - Added
        <a class="here-link" href="{{ url_for('stats') }}">stats page</a>
      </p>
      <p>- Improved website design and mobile responsiveness</p>
      <p>- Bug fixes</p>
    </li>
    <li>
      <span class="version">v2</span>
      <span class="date">2025-11-11</span>
      <p>- Redesigned interface</p>
      <p>
        - Refactored code to scale (Previously a worker was spawned for every
        class being watched 😭)
      </p>
      <p>- Replaced huey with subprocess</p>
      <p>- Emails are now sent via API instead of SMTP</p>
      <p>- Updated form for better error handling</p>
    </li>
    <li>
      <span class="version">v1.1</span>
      <span class="date">2024-2025</span>
      <p>- Small bug fixes</p>
      <p>- Long ass break</p>
    </li>
    <li>
      <span class="version">v1.0</span>
      <span class="date">2024-01-05</span>
      <p>- Initial release of UCI Class Watcher</p>
    </li>
  </ul>
</div>
{% endblock %}
