<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
        <form method="post" action = "/run">
            <label for="email">Email:</label>
            <input type="text" id="email" name="email"><br>
            <label for="course_number">Your ICS class to watch:</label>
            <input type="text" id="course_number" name="course_number"><br>
            <label for="run_time">Time to watch (in minutes):</label>
            <input type="text" id="run_time" name="run_time"><br><br>
            <input type="submit" value="Start Watching" name="action">
        </form>
    </body>
</html>
