<!DOCTYPE html>
<head>
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
</head>
<body>
  <form action = "/home">
    <div class="form">
      <div class="title">Welcome</div>
      <div class="subtitle">Enter information below to start watching a class</div>
      <div class="input-container ic1">
        <input id="email" class="input" type="text" placeholder=" " name="email"/>
        <div class="cut cut-short"></div>
        <label for="email" class="placeholder">Email</label>
      </div>
      <div class="input-container ic2">
        <input id="course_number" class="input" type="text" placeholder=" " name="course_number"/>
        <div class="cut cut-longer"></div>
        <label for="course_number" class="placeholder">Course Number (enter 33 for ICS 33)</label>
      </div>
      <div class="input-container ic2">
        <input id="run_time" class="input" type="text" placeholder=" " name="run_time"/>
        <div class="cut cut-long"></div>
        <label for="run_time" class="placeholder">Time to watch (in minutes)</label>
      </div>
    <button class = "submit" type="submit" value="Start Watching" name="action">Start Watching</button>
    </div>
  </form>
</body>