{% extends "base.html" %} {% block title %}Success - UCI Class Watcher{%
endblock %} {% block content %}
<div class="form-success">
  <div class="title successful">Started watching</div>
  <div class="subtitle successful-class">
    {{ department }} {{ courseNumber }}
  </div>
  <div class="subtitle-small">
    You will receive an email when a spot opens up!
  </div>
  <a
    href="{{ url_for('dashboard') }}"
    class="submit"
    style="display: block; text-decoration: none; line-height: 50px"
  >
    Go to Dashboard
  </a>
  <a
    href="{{ url_for('index') }}"
    class="submit"
    style="display: block; text-decoration: none; line-height: 50px"
  >
    Watch Another Class
  </a>
</div>
{% endblock %}
